<section class="phx-hero">
  <h1>V-Sekai</h1>
  <h2>The universal VR platform</h2>
  <p>We are a community of enthusiasts building a next-generation social and gaming VR platform powered by the  <a href="https://godotengine.org/">Godot Engine</a>. Please sign up to receive updates on future beta participation</p>
</section>