<h1><%= gettext("New Shard") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_shard_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.admin_shard_path(@conn, :index) %></span>
