<h1>Show Map</h1>

<ul>

  <li>
    <strong><%=gettext("Name") %>: </strong><%= @map.name %>
  </li>

  <li>
    <strong><%=gettext("Description") %>: </strong><%= @map.description %>
  </li>

</ul>

<span><%= link gettext("Back"), to: Routes.user_content_map_path(@conn, :index) %></span>
