<h2><%= gettext("Register") %></h2>

<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= render UroWeb.LayoutView, "error.html", changeset: @changeset%>

  <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>

  <div>
    <%= submit gettext("Submit") %>
  </div>
<% end %>
