<%= render UroWeb.LayoutView, "user_content_table.html",
conn: @conn,
page: @page,
new_user_content_string: gettext("New Avatar"),
is_editable: true,
path_function_with_item: fn (atom, item) -> Routes.dashboard_avatar_path(@conn, atom, item) end,
path_function: fn (atom) -> Routes.dashboard_avatar_path(@conn, atom) end %>
