<%= form_for @changeset, @action, fn f -> %>
  <%= render UroWeb.LayoutView, "error.html", changeset: @changeset%>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :description %>
  <%= text_input f, :description %>
  <%= error_tag f, :description %>

  <div>
    <%= submit gettext("Save") %>
  </div>
<% end %>
