<h1>Show Event</h1>

<ul>

  <li>
    <strong><%=gettext("Name") %>: </strong><%= @event.name %>
  </li>

  <li>
    <strong><%=gettext("Description") %>: </strong><%= @event.description %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.admin_event_path(@conn, :edit, @event) %></span>
<span><%= link gettext("Back"), to: Routes.admin_event_path(@conn, :index) %></span>
