<h1>Show Map</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @map.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @map.description %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @map.url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.map_path(@conn, :edit, @map) %></span>
<span><%= link "Back", to: Routes.map_path(@conn, :index) %></span>
