<h1>Show Avatar</h1>

<ul>

  <li>
    <strong><%=gettext("Name") %>: </strong><%= @avatar.name %>
  </li>

  <li>
    <strong><%=gettext("Description") %>: </strong><%= @avatar.description %>
  </li>
</ul>

<span><%= link gettext("Back"), to: Routes.user_content_avatar_path(@conn, :index) %></span>
