@import "./phoenix.css";

body{
  background-color: #ffffff;
  color:#000000;
}

p {
  margin-bottom: 1em; /* phoenix shit */
}

h1, h2, h3, h4, h5, h6 {
  background-color: #dc322f;
  color:white;
  padding:0.25em;
  font-weight:bold;
  font-family:'Noto Serif JP';
}

header a.blue-header {
  display: block;
  margin: 6px;
  border: 3px solid blue;
  border-radius: 25px;
  background: #eef7ff;
  padding: 5px;
  text-align: center;
  text-decoration: underline;
  color: blue;
}

.promo {
  font-family:'Noto Serif JP';
}

.subtext {
  font-size: smaller;
}

button {
  background-color: #dc322f;
  border:0.1rem solid #dc322f
}

button:focus,button:hover,button:focus,button:hover {
  background-color: #8e0000;
}

a {
  color: #dc322f;
}

a:focus,a:hover,a:focus,a:hover {
  color: #8e0000;
}

.promo {
  text-align: center;
  padding: 3em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}
.promo p {
  margin: 0;
}

.vsk-logo {
  min-width: 300px;
  margin: 1rem;
  display: block;
}
.vsk-logo img {
  width: auto;
  display: block;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  .vsk-logo {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #7d7d7d;
  background-color: #e1e1e1;
  border-color: #808080;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.session {
  display: inline;
  position:absolute;
  top:0;
  right:0;
}

.session li {
  display: inline;
}

.session a {
  display: inline;
  padding: 0.5em;
}

.session_buttons {
  display: inline;
}
.session_buttons li {
  display: inline;
}
.session_buttons a {
  display: inline;
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
  color:white;
  background-color:#dc322f;
}

.session_buttons a:focus,
.session_buttons a:hover,
.session_buttons a:focus,
.session_buttons a:hover {
  background-color: #8e0000;
}

.static_links {
  position:absolute;
  bottom:0;
  right:0;
}

.static_links li{
  display: inline;
  padding: 0.5em;
}

.static_links a {
  display: inline;
}
ul.contact li {
  list-style-position: outside;
  margin-left: 2em;
}
