<section class="promo">
  <h1>Admin Panel</h1>
  <%= link "Avatars", to: Routes.admin_avatar_path(@conn, :index) %>
  |
  <%= link "Maps", to: Routes.admin_map_path(@conn, :index) %>
  |
  <%= link "Props", to: Routes.admin_prop_path(@conn, :index) %>
  |
  <%= link "Shards", to: Routes.admin_shard_path(@conn, :index) %>
  |
  <%= link "Events", to: Routes.admin_event_path(@conn, :index) %>
  |
  <%= link "Users", to: Routes.admin_user_path(@conn, :index) %>
</section>
