<h1>Download</h1>
<p>V-Sekai is still currently in closed testing. Please check back here later for more information.</p>
<h2>Sign up to receive updates</h2>
<p>At the moment, we have functional prototypes, but are still deep in development. We have slowly been offering download keys to a small group of private volunteering testers. We want to ensure that our formal release is as polished as it can be.</p>
<p><%= link "Register now", to: Routes.signup_path(@conn, :new)%> to reserve your name and to receive updates on future beta participation.</p>
