<h1>Show Avatar</h1>

<ul>

  <li>
    <strong><%=gettext("Name") %>: </strong><%= @avatar.name %>
  </li>

  <li>
    <strong><%=gettext("Description") %>: </strong><%= @avatar.description %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.admin_avatar_path(@conn, :edit, @avatar) %></span>
<span><%= link gettext("Back"), to: Routes.admin_avatar_path(@conn, :index) %></span>
