<h1>Show Avatar</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @avatar.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @avatar.description %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @avatar.url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.avatar_path(@conn, :edit, @avatar) %></span>
<span><%= link "Back", to: Routes.avatar_path(@conn, :index) %></span>
