<h1>Show Prop</h1>

<ul>

  <li>
    <strong><%=gettext("Name") %>: </strong><%= @prop.name %>
  </li>

  <li>
    <strong><%=gettext("Description") %>: </strong><%= @prop.description %>
  </li>

  <li>
    <strong><%=gettext("URL") %>: </strong><%= @prop.url %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.admin_prop_path(@conn, :edit, @prop) %></span>
<span><%= link gettext("Back"), to: Routes.admin_prop_path(@conn, :index) %></span>
