<%= form_for @changeset, @action, fn f -> %>
  <%= render UroWeb.LayoutView, "error.html", changeset: @changeset%>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :description %>
  <%= text_input f, :description %>
  <%= error_tag f, :description %>

  <%= label f, :url %>
  <%= text_input f, :url %>
  <%= error_tag f, :url %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
